
    <section class="wrapper-cards">
        <% for (let post of posts) {%>
        <article class="ui-card">
            <a href="/post/<%= post.id %>/singlepost?user_name=<%=post.user_name%>&image_url=<%=post.image_url%>"
                class="anchor-post">
                <img src="<%= post.image_url %>" alt="photo">
            </a>
            <div>
                <h4 class="title-card">
                    Added by <a href="/users/<%= post.user_id %>/profile">
                        <%= post.user_name %>
                    </a>
                </h4>
                <span class="footer-card">On <%= post.date %></span>
            </div>
        </article>    
        <% }%>
    </section>
