<section class="wrapper-cards">
    <% for (let profile of users) {%>
            <a href="/dash/<%= profile.id %>" class="ui-card-anchor">
                <article class="ui-card">
                    <div>
                        <h4 class="username">
                            <%= profile.name %>
                        </h4>
                        <div>
                            <p class="title-card"> Learn Language </p>
                            <p>
                                <%= profile.learn_lang %>
                            </p>
                            <p class="lang-level">
                                <%= profile.lang_level %>
                            </p>
                        </div>
                        <div>
                            <p class="title-card"> Native Language </p>
                            <p>
                                <%= profile.native_lang %>
                            </p>
                        </div>
                    </div>
                </article>
            </a>
            <% }%>
</section>