<section class="wrapper-cards">
    <% for (let profile of users) {%>
        <!-- to dont see my profile in the dashboard, just the other users profiles -->
        <% if (profile.id !==currentUser.id) {%>
            <a href="/dash/<%= profile.id %>" class="ui-card-anchor">
                <article class="ui-card">
                    
                        <!-- <img src="< %= profile.image_url %>" alt="profile photo"> -->
                    
                    <div>
                        <h4 class="username">
                            <!-- add icon -->
                            <%= profile.name %>
                        </h4>
                        <div>
                            <p class="title-card"> Learn Language </p>
                            <p>
                                <%= profile.learn_lang %>
                            </p>
                            <p class="lang-level">
                                <%= profile.lang_level %>
                            </p>
                        </div>
                        <div>
                            <p class="title-card"> Native Language </p>
                            <p>
                                <%= profile.native_lang %>
                            </p>
                        </div>
                    </div>
                </article>
            </a>
            <% }%>
                <% } %>
</section>